/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Righteous', cursive;
}
body {
  font-family: 'Righteous', cursive;
  font-size: 3.75rem;
  font-weight: 300 !important;
  letter-spacing: -0.025em;
  line-height: 1.75em;
  height: 100%;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.8rem;
}
p {
  margin: 20px 0;
  line-height: 1.25;
}
.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: black;
}
header {
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
}
header h1 {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 3.75em;
  line-height: 2em;
  color: springgreen;
}
header p {
  font-size: 1.25em;
  margin: 0.5em 0 0.5em 0;
  color: #FFFFFF;
}
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: beige;
  padding-top: 40px;
  margin-bottom: 40px;
  align-content: center;
  text-align: center;
}
.header h1 {
  font-size: 2.5em;
  color: black;
}
@media (max-width: 500px) {
  .header {
    display: inline-block;
    background-color: aliceblue;
    width: 100%;
    padding-top: 10px0;
    margin-bottom: 0;
  }
  .header h1 {
    margin-bottom: 10px;
  }
}
.header .menu {
  position: relative;
  display: inline-block;
  font-size: 0.75em;
}
@media (max-width: 500px) {
  .header .menu {
    width: 100%;
    margin-top: 40px;
  }
}
.header .menu .menu-btn {
  display: block;
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 0.75em;
  border: none;
  cursor: pointer;
}
.header .menu .menu-btn:hover,
.header .menu .menu-btn:focus {
  background-color: #3e8e41;
}
@media (max-width: 500px) {
  .header .menu .menu-btn {
    display: none;
  }
}
.header .menu .menu-content {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  min-width: 230px;
  overflow: auto;
  z-index: 1;
  border: 1px solid lightgray;
}
@media (max-width: 500px) {
  .header .menu .menu-content {
    display: flex;
    min-width: auto;
    flex-direction: column;
    padding: 0;
    position: relative;
    z-index: none;
  }
}
.header .menu .menu-content a {
  color: black;
  padding: 12px 16px;
  border-bottom: 1px dashed gray;
  text-decoration: none;
  display: block;
}
.header .menu .menu-content a:hover {
  background-color: aqua;
}
.header .menu .menu-content a:last-child {
  border-bottom: none;
}
.header .menu .show {
  display: block;
}
.features {
  display: flex;
  padding: 25px;
  margin-bottom: 100px;
}
.features h2 {
  font-size: 2.75rem;
  text-align: center;
}
.features img {
  margin-top: 10px;
  width: 100%;
}
.features p {
  font-size: 0.5em;
}
@media (max-width: 500px) {
  .features {
    display: inline;
    padding: 40px;
    width: 100%;
    padding: 25px;
  }
}
.card {
  margin: 25px;
  padding: 0 20px 20px;
  border: 3px solid lightblue;
  border-radius: 20px;
  position: relative;
  height: 70px;
  overflow: hidden;
  box-shadow: 2px 2px 2px lightcoral;
}
@media (max-width: 500px) {
  .card {
    margin: 0px;
    margin-bottom: 10px;
    box-shadow: none;
    border: 3px dashed lightslategray;
    border-radius: 10px;
    box-shadow: 1px 2px 1px 1px springgreen;
    height: 100%;
  }
}
.card .expandBtn {
  position: absolute;
  bottom: -24px;
  left: 50%;
  font-size: 12px;
  color: gray;
  cursor: pointer;
  transform: translate(-50%);
}
@media (max-width: 500px) {
  .card .expandBtn {
    display: none;
  }
}
.card .close {
  position: absolute;
  top: 10px;
  right: 10px;
}
.card-open {
  height: 100%;
}
footer {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}
@media (max-width: 500px) {
  footer {
    background-color: aliceblue;
  }
}
