/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Righteous', cursive;
}
body {
  font-size: 3.75rem;
  font-weight: 300 !important;
  letter-spacing: -0.025em;
  line-height: 1.75em;
  height: 100%;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.8rem;
}
p {
  margin: 20px 0;
  line-height: 1.25;
}
.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding-bottom: 116px;
  background-color: #0d253d;
}
header {
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
}
header h1 {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 3.75em;
  line-height: 2em;
  color: #aaccaa;
}
header p {
  font-size: 1.25em;
  margin: 0.5em 0 0.5em 0;
  color: #eeeeaa;
}
@media (max-width: 500px) {
  header p {
    margin-bottom: 40px;
  }
  header p:hover {
    font-size: 1.5em;
    transition: 1s;
  }
}
.navigation {
  margin: 50px 0 0 0 ;
}
@media (max-width: 500px) {
  .navigation {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 10px 0 0 0;
  }
}
.navigation ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  width: 100%;
}
@media (max-width: 500px) {
  .navigation ul {
    display: flex;
    flex-direction: column;
  }
}
.navigation li {
  display: flex;
  justify-content: center;
  height: 5.35em;
  width: 100%;
}
@media (max-width: 500px) {
  .navigation li {
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
  }
}
.navigation a {
  display: inline-block;
  font-size: 1.35em;
  height: 2.5em;
  line-height: 2.53em;
  border: 1px solid black;
  border-radius: 50px;
  color: #aaccaa;
  background-color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  width: max-content;
}
.navigation a:hover {
  background-color: #2d2d3d;
  color: #eeeeaa;
  transition-duration: 0.5s;
}
@media (max-width: 500px) {
  .navigation a {
    width: 100%;
  }
  .navigation a:hover {
    font-size: 1.5em;
  }
}
.footer footer {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: #eeeeaa;
  background-color: #0d253d;
}
@media (max-width: 500px) {
  .footer footer {
    width: 100%;
    background-color: #2d2d3d;
  }
  .footer footer p {
    color: #aaccaa;
  }
}
.container {
  background-color: #2d2d3d;
}
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #0d253d;
  padding-top: 40px;
  margin-bottom: 40px;
  align-content: center;
  text-align: center;
}
.header h1 {
  font-size: 2.5em;
  color: #eeeeaa;
}
@media (max-width: 500px) {
  .header {
    display: inline-block;
    background-color: #0d253d;
    width: 100%;
    padding-top: 10px;
    margin-bottom: 0;
  }
  .header h1 {
    margin-bottom: 10px;
  }
}
.header .menu {
  position: relative;
  display: inline-block;
  font-size: 0.75em;
}
@media (max-width: 500px) {
  .header .menu {
    width: 100%;
    margin-top: 40px;
  }
}
.header .menu .menu-btn {
  display: block;
  background-color: #aaccaa;
  color: white;
  padding: 16px;
  font-size: 0.75em;
  border: none;
  cursor: pointer;
}
.header .menu .menu-btn:hover,
.header .menu .menu-btn:focus {
  background-color: #2d2d3d;
}
@media (max-width: 500px) {
  .header .menu .menu-btn {
    display: none;
  }
}
.header .menu .menu-content {
  display: none;
  position: absolute;
  background-color: #aaccaa;
  min-width: 230px;
  overflow: auto;
  z-index: 1;
  border: 1px solid lightgray;
}
@media (max-width: 500px) {
  .header .menu .menu-content {
    display: flex;
    min-width: auto;
    flex-direction: column;
    padding: 0;
    position: relative;
    z-index: none;
    background-color: #eeeeaa;
  }
  .header .menu .menu-content:hover {
    background-color: #aaccaa;
  }
}
.header .menu .menu-content a {
  color: #2d2d3d;
  padding: 12px 16px;
  border-bottom: 1px dashed gray;
  text-decoration: none;
  display: block;
}
.header .menu .menu-content a:hover {
  background-color: #eeeeaa;
}
.header .menu .menu-content a:last-child {
  border-bottom: none;
}
.header .menu .show {
  display: block;
}
.features {
  display: flex;
  padding: 25px;
  margin-bottom: 100px;
}
.features h2 {
  font-size: 2.75rem;
  text-align: center;
  color: #FFFFFF;
}
@media (max-width: 500px) {
  .features h2 {
    color: #0d253d;
  }
}
.features img {
  margin-top: 10px;
  width: 100%;
}
.features p {
  font-size: 0.5em;
  color: #eeeeaa;
}
@media (max-width: 500px) {
  .features p {
    color: #0d253d;
  }
}
@media (max-width: 500px) {
  .features {
    display: inline;
    padding: 40px;
    width: 100%;
    padding: 25px;
  }
}
.card {
  margin: 25px;
  padding: 0 20px 20px;
  border: 3px solid lightblue;
  border-radius: 20px;
  position: relative;
  height: 70px;
  overflow: hidden;
  box-shadow: 2px 2px 2px white;
}
@media (max-width: 500px) {
  .card {
    margin: 0px;
    margin-bottom: 25px;
    box-shadow: none;
    border: 3px dashed lightslategray;
    border-radius: 10px;
    box-shadow: 1px 2px 1px 1px springgreen;
    height: 100%;
    background-color: #FFFFFF;
  }
}
.card .expandBtn {
  position: absolute;
  bottom: -24px;
  left: 50%;
  font-size: 12px;
  color: #eeeeaa;
  cursor: pointer;
  transform: translate(-50%);
}
@media (max-width: 500px) {
  .card .expandBtn {
    display: none;
  }
}
.card .close {
  position: absolute;
  top: 10px;
  right: 10px;
}
.card-open {
  height: 100%;
  background-color: #0d253d;
}
.card-open .expandBtn {
  position: absolute;
  bottom: -24px;
  left: 50%;
  font-size: 12px;
  color: #FFFFFF;
  cursor: pointer;
  transform: translate(-50%);
}
.footer {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: #eeeeaa;
  background-color: #0d253d;
}
@media (max-width: 500px) {
  .footer {
    background-color: #0d253d;
  }
}
.container {
  background-color: #2d2d3d;
}
.top-nav {
  width: 100%;
  background-color: #0d253d;
  padding-top: 1px;
}
.top-nav h1 {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 10rem;
  line-height: 2em;
  color: #eeeeaa;
  background-color: #2d2d3d;
}
.top-nav nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 50px;
}
@media (max-width: 500px) {
  .top-nav nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
  }
}
.top-nav nav a {
  color: #aaccaa;
  text-decoration: none;
  border-radius: 4px;
}
@media (max-width: 500px) {
  .top-nav nav a {
    padding: 20px 0 20px 0;
  }
  .top-nav nav a:hover {
    font-size: 5.5rem;
    color: #2d2d3d;
    background-color: #eeeeaa;
    transition: 1s;
  }
}
.history,
.market,
.service,
.commitment {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
.history img.plane,
.market img.plane,
.service img.plane,
.commitment img.plane {
  border: 6px solid black;
  display: flex;
  flex-direction: column;
  align-self: center;
  height: auto;
  max-width: 100%;
}
@media (max-width: 500px) {
  .history img.plane,
  .market img.plane,
  .service img.plane,
  .commitment img.plane {
    max-width: 100%;
  }
  .history img.plane:hover,
  .market img.plane:hover,
  .service img.plane:hover,
  .commitment img.plane:hover {
    max-width: 75%;
    transition-duration: 0.8s;
  }
}
.history h1,
.market h1,
.service h1,
.commitment h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 5rem;
  margin: 50px;
  color: #aaccaa;
}
@media (max-width: 500px) {
  .history h1,
  .market h1,
  .service h1,
  .commitment h1 {
    font-size: 4.05rem;
    margin: 0;
    padding: 20px 0 20px 0;
  }
}
.history p,
.market p,
.service p,
.commitment p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 60px;
  color: #eeeeaa;
}
.footer footer {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: #eeeeaa;
  background-color: #0d253d;
}
@media (max-width: 500px) {
  .footer footer {
    background-color: #0d253d;
  }
}
.acct {
  background-color: #2d2d3d;
}
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 50px;
}
@media (max-width: 500px) {
  nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
  }
}
a {
  color: #aaccaa;
  text-decoration: none;
  border-radius: 4px;
}
@media (max-width: 500px) {
  a {
    padding: 20px 0 20px 0;
  }
  a:hover {
    font-size: 5.5rem;
    color: #2d2d3d;
    background-color: #eeeeaa;
    transition: 1s;
  }
}
h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 580px;
  font-size: 5rem;
  margin: 50px;
  color: #aaccaa;
  text-decoration-line: underline;
}
@media (max-width: 500px) {
  h1 {
    font-size: 4rem;
    margin-right: 30px;
    padding: 20px 0 20px 0;
    width: 430px;
  }
}
p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  width: 520px;
  padding-left: 100px;
  color: #eeeeaa;
}
@media (max-width: 500px) {
  p {
    padding-left: 10px;
    width: 490px;
    font-size: 3.2rem;
  }
}
.footer footer {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  width: 500px;
  color: #eeeeaa;
  background-color: #0d253d;
}
@media (max-width: 500px) {
  .footer footer {
    background-color: #0d253d;
  }
}
.mytext {
  margin-right: 50px;
  margin-left: 180px;
  margin-bottom: 50px;
  width: 300px;
  height: 20px;
}
@media (max-width: 500px) {
  .mytext {
    display: flex;
    justify-content: center;
    width: 156px;
    height: 31px;
    margin-left: 180px;
  }
}
input[type=button],
input[type=submit],
input[type=reset] {
  background-color: #eeeeaa;
  border: none;
  width: 64px;
  height: 33px;
  margin-left: 300px;
  color: #0d253d;
}
@media (max-width: 500px) {
  input[type=button],
  input[type=submit],
  input[type=reset] {
    padding: 16px 32px;
    text-decoration: none;
    margin-left: 200px;
    margin-bottom: 50px;
    width: 114px;
    cursor: pointer;
  }
}
@media (max-width: 500px) {
  h1.create {
    font-size: 3.2rem;
    margin-top: 10px;
  }
}
.touch {
  /* border: 6px solid black; */
  font-size: 1rem;
  border-bottom: 2px solid #0d253d;
  width: 250px;
}
@media (max-width: 500px) {
  .email {
    margin-left: 30px;
    color: #0d253d;
  }
}
/* .service{
    border: 6px solid black;
}
@media screen and (max-width: 500px) {
    .service{
        margin-left: 60px;
    }
}
.sales{
    border: 6px solid black;
}
@media screen and (max-width: 500px) {
    .sales{
        margin-left: 60px;
    }
}
.partner{
    border: 6px solid black;
}
@media screen and (max-width: 500px) {
    .partner{
        margin-left: 60px;
    }
} */
.contact-p {
  /* border: 6px solid black; */
  padding: 30px;
}
.email-h1 {
  border: 6px solid black;
  margin-left: 10px;
  font-size: 1rem;
}
