header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin-bottom: 40px;
    align-content: center;
    text-align: center;
    h1{
        color: black;
    }
}
  .features{
      .card-links{
        margin-top: 20px;
          display: flex;
          justify-content: space-between;
          .link{
              padding: 20px 40px;
              cursor: pointer;
          }
      }
  }