// General Styles
// * {
//     box-sizing: border-box;
//   }
  
//   html {
//     font-size: 62.5%;
//   }
  
//   html, body {

//     font-family: 'Source Sans Pro', sans-serif;
  
//   }
*{
    box-sizing: border-box;
} 
html{
    font-size: 62.5%;
}
html, body {

    font-family: 'Righteous', cursive;
    
}
body{
    font-family: 'Righteous', cursive;
    font-size: 3.75rem;
    font-weight: 300 !important;
    letter-spacing: -0.025em;
    line-height: 1.75em;
}
