//colors

@spring:springgreen;
@night: black;
@white: #FFFFFF;
@dg: #2d2d3d;
@pale-green: #aaccaa;
@beige-green:#becca3;
@yg:#eeeeaa;
@ng:#0d253d;


// Color Assignment

@font-color: @spring;
@bg-color: @night;
@home-p-color: @white;


//Mobile Variable

@phone: ~"(max-width: 500px)";